# Dictionaries

In [32]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

for key, value in student.items():
    print(key, value)

name John
age 25
courses ['Math', 'CompSci']

In [33]:
print(student['name'])

John

In [34]:
# To update

# student.update({'name': 'Jane', 'age':25, 'phone': '555-555'})

In [35]:
# del student['age']

In [36]:
# age = student.pop('age')
# print(age)
# print(student)

In [37]:
print(len(student)) # Try print(student.key()) print(student.values())

3

In [38]:
# To loop through 

for key in student:
    print(key)

name
age
courses

In [40]:
for key, value in student.items():
    print(key, value)

name John
age 25
courses ['Math', 'CompSci']

# Conditionals and Booleans - If, Else, and Elif Statements

In [41]:
condition = 'Test'

if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to True

In [ ]:
# Try this 

# Comparisons:
# Equal:            ==
# Not Equal:        !=
# Greater Than:     >
# Less Than:        <
# Greater or Equal: >=
# Less or Equal:    <=
# Object Identity:  is

In [47]:
language = 'python' # try java
 
if language == 'python':
    print('Language is python')
else:
    print('No Match')

Language is python

In [50]:
language = 'python' # try java
 
if language == 'python':
    print('Language is python')
elif language == 'java':
    print('Language is java')
else:
    print('No Match')

Language is python

In [51]:
# and
# or
# not 

user = 'Admin'
logged_in = True # Try False

if user == 'Admin' and logged_in:
    print('Admin Page')
else:
    print('Bad Creds')

Admin Page

In [53]:
user = 'Admin'
logged_in = False

if user == 'Admin' or logged_in:
    print('Admin Page')
else:
    print('Bad Creds')

Admin Page

In [54]:
if not logged_in:
    print('Please Log In')
else:
    print('Welcom')

Please Log In

In [55]:
# False Values:
    # False
    # None
    # Zero of any numeric type
    # Any empty sequence. For example, '', (), [].
    # Any empty mapping. For example, {}.

# Loops and Iterations - For/While Loops

In [63]:
nums = [1,2,3,4,5]

for num in nums:
    if num == 3:
        print('Found:')
        break # try countinue
    print(num)

1
2
Found:

In [64]:
# loop with in a loop 

for num in nums:
    for letter in 'abc':
        print(num, letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [65]:
for i in range(10):  # starting value '(1, 11)'
    print(i)

0
1
2
3
4
5
6
7
8
9

In [67]:
x = 0

while True:
    if x == 5:
        break
    print(x)
    x += 1

0
1
2
3
4

# Functions

In [89]:
def hello_func():
    print('Hello Function!')

hello_func()

Hello Function!

In [92]:
def hello_func(greeting, name='You'):
    return '{}, {}'.format(greeting, name)

In [93]:
print(hello_func('Hi', name='Corey'))

Hi, Corey

In [94]:
def student_info(*args, **kwargs):
    print(args) # tuple in output
    print(kwargs) # Dict in output
    
student_info('Math', 'Art', name='John', age=22)

('Math', 'Art')
{'name': 'John', 'age': 22}

In [96]:
def student_info(*args, **kwargs):
    print(args) # tuple in output
    print(kwargs) # Dict in output

    
courses = ['Math', 'Art']
info = {'name': 'John', 'age':25}
    
student_info(courses, info)

(['Math', 'Art'], {'name': 'John', 'age': 25})
{}

Not expected output

In [97]:
student_info(*courses, **info)

('Math', 'Art')
{'name': 'John', 'age': 25}

In [106]:
# Number of days per month. First value placeholder for indexing purposes.
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]


def is_leap(year):
    """Return True for leap years, False for non-leap years."""

    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)


def days_in_month(year, month):
    """Return number of days in that month in that year."""

    # year 2017
    # month 2
    if not 1 <= month <= 12:
        return 'Invalid Month'

    if month == 2 and is_leap(year):
        return 29

    return month_days[month]

print(days_in_month(2019, 2))

28