In [1]:
print("Hello World") # smiple code to print

Hello World

# Strings

In [2]:
message = 'Hello World'  # variable "message" is carrying a sting "hello world"

print(message)

Hello World

In [3]:
# To find how many charater in the string

print(len(message))

11

In [4]:
# To access the location or index in the string

print(message[1])  
# The index starts from 0 
# To get the last index its works like "Total length - 1"

e

In [5]:
# To get the range of the charater

print(message[0:5]) # this is called slicing

Hello

In [6]:
# Methods is just a function 

print(message.lower()) # lower method
#print(message.upper()) # upper method

hello world

In [7]:
print(message.count('o')) # That counts the charater

2

In [10]:
print(message.find('World')) # The world start from index 6

6

In [14]:
# replace the string 

new_message = message.replace('world', 'Universe')

print(new_message)

Hello World

In [20]:
# add and concatenate

greeting = 'Hello'
name = 'Michael'

message = greeting + ', ' + name + '. Welcome!' # This is formated string

print(message)

Hello, Michael. Welcome!

In [23]:
message = '{}, {} . Welcome!'.format(greeting, name) # replace word

print(message) # This is more easy to use

Hello, Michael . Welcome!

In [25]:
# python 3.6 > higher " f string " This is new to python

message = f'{greeting}, {name} . Welcome!'

print(message)

Hello, Michael . Welcome!

# Integers and Floats

In [27]:
# Arithmetic Operators

3 + 2

5

In [28]:
3 // 2

1

In [29]:
3 / 2

1.5

In [30]:
3 ** 2 # power

9

In [31]:
3 % 2

1

In [32]:
print(abs(-3)) # abslute value

3

In [33]:
print(round(3.52))

4

In [34]:
print(round(3.52, 1)) # round to 1st decimal

3.5

In [37]:
# Comparisons: "==", ">", "<", ">=", "<=", "!=" Do work out with this also

num_1 = 3
num_2 = 2

print(num_1 == num_2)

False

In [1]:
# When numbers are in string 

num_1 = '100'
num_2 = '200'

print(num_1 + num_2) # not expected answer

100200

In [2]:
num_1 = int(num_1)
num_2 = int(num_2)

print(num_1 + num_2)

300

# Lists, Tuples, and Sets

In [162]:
courses = ['History', 'Math', 'Pyhsics', 'CompSci']

print(courses)
print(len(courses))

['History', 'Math', 'Pyhsics', 'CompSci']
4

In [163]:
print(courses[0]) # index

History

In [164]:
print(courses[-3])

Math

In [165]:
print(courses[0:2]) # first index and not including 2  

# print(courses[2:]) # this is slicing

['History', 'Math']

In [166]:
courses.append('Art') # use to append in the current list 

print(courses)

['History', 'Math', 'Pyhsics', 'CompSci', 'Art']

In [167]:
courses_2 = ['Education', 'Drawing', 'Dance']

courses_2.insert(0, 'Art') # we can set the index value 

print(courses_2)

['Art', 'Education', 'Drawing', 'Dance']

In [168]:
# courses.insert(0, courses_2)

In [169]:
# print(courses) # we need to add the value in the list

In [170]:
# print(courses[0])

In [171]:
# courses.extend(courses_2) # This is used to add the full list

In [172]:
# print(courses)

In [173]:
# courses.pop()

# print(courses)

In [174]:
# sort a list 

# courses.reverse()
# print(courses)

In [175]:
courses.sort()
print(courses)

['Art', 'CompSci', 'History', 'Math', 'Pyhsics']

In [176]:
nums = [1, 3, 6, 4, 2, 5]
nums.sort()

print(nums)

[1, 2, 3, 4, 5, 6]

In [177]:
nums.sort(reverse=True) # This will sort in decending order

In [178]:
print(min(nums)) # Try min, sum

1

In [179]:
# print('Code' in courses)

In [180]:
for item in courses: # item is variable so we can keep any name
    print(item)

Art
CompSci
History
Math
Pyhsics

In [181]:
for index, item in enumerate(courses): # we can set a stating index value also by "for index, item in v: # we can set a stating index value also by "(coueses, start=1)"
    print(index, item) # print with index

0 Art
1 CompSci
2 History
3 Math
4 Pyhsics

In [188]:
# join method

courses_str = ' - '.join(courses)

new_list = courses_str.split(' - ')

print(courses_str)
print(new_list)

Art - CompSci - History - Math - Pyhsics
['Art', 'CompSci', 'History', 'Math', 'Pyhsics']

In [189]:
# Mutable
list_1 = ['History', 'Math', 'Physics', 'CompSci']
list_2 = list_1

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']

In [190]:
list_1[0] = 'Art'

print(list_1)
print(list_2) # mutable

['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

In [191]:
# Immutable
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

In [192]:
tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2) # cant change any thing in tuple

TypeError: 'tuple' object does not support item assignment

In [200]:
# Sets
cs_courses = {'History', 'Math', 'Physics', 'CompSci'} # unorder and no duplicates

print(cs_courses)

{'CompSci', 'History', 'Math', 'Physics'}

In [201]:
art_courses = {'History', 'Math', 'Art', 'Design'}

In [203]:
print(cs_courses.intersection(art_courses)) # This will say the same value

{'History', 'Math'}

In [204]:
print(cs_courses.difference(art_courses)) # arnt in art courses

{'CompSci', 'Physics'}

In [205]:
print(cs_courses.union(art_courses))

{'History', 'Design', 'CompSci', 'Art', 'Physics', 'Math'}

In [206]:
# Empty Lists
empty_list = [] # we use []
empty_list = list()

In [207]:
# Empty Tuples
empty_tuple = () # we use ()
empty_tuple = tuple()

In [208]:
# Empty Sets
empty_set = {} # This isn't right! It's a dict
empty_set = set() # this is correct way